.idea

AvaloniaWeatherTracker.Browser/bin
AvaloniaWeatherTracker.Browser/obj

AvaloniaWeatherTracker.Desktop/bin
AvaloniaWeatherTracker.Desktop/obj

AvaloniaWeatherTracker.iOS/bin
AvaloniaWeatherTracker.iOS/obj

AvaloniaWeatherTracker.Android/bin
AvaloniaWeatherTracker.Android/obj

AvaloniaWeatherTracker/bin
AvaloniaWeatherTracker/obj

linecounter.exe
