<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" 
		  android:targetSandboxVersion="1">
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="AvaloniaWeatherTracker" android:icon="@drawable/Icon" >
		android:usesCleartextTraffic="true"
		android:networkSecurityConfig="@Resources/network_security_config"
	</application>
</manifest>
